<footer class="footer-distributed">
    <div class="footer-right">
        <a href="https://github.com/dorukkilitcioglu/book-recommender-system"><i class="fa fa-github fa-3x"></i></a>
    </div>
    <div class="footer-left">
        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Blog</a>
            ·
            <a href="#">White Paper</a>
            ·
            <a href="https://www.kaggle.com/zygmunt/goodbooks-10k/data">Goodreads Data</a>
            ·
            <a href="https://snap.stanford.edu/data/web-Amazon.html">Stanford Data</a>
            ·
            <a href="https://cs.nyu.edu/~abari/">NYU Advisor</a>
        </p>
        <p>
            <a href="https://nickgreenquist.github.io/">Nick Greenquist</a>,
            <a href="https://dorukkilitcioglu.github.io/">Doruk Kilitcioglut</a>,
            <a href="https://panghalamit.github.io/">Amit Panghal</a>
            &copy; 2018 |
            Powered by: 
            <a href="https://www.goodreads.com/">Goodreads</a>
        </p>
    </div>
</footer>