<footer>
    <div class="section" id="footer">
        <div class="footer_row">
            <div class="footer_col footer_col_left">
                <p class="footer-links">
                    <a href="{{ url_for('home') }}">Home</a>
                    ·
                    <a href="https://github.com/dorukkilitcioglu/book-recommender-system#readme">About</a>
                    ·
                    <a href="#">White Paper</a>
                    ·
                    <a href="{{ url_for('setup') }}">Setup Guide</a>
                </p>
                <p class="footer-links">
                    <a href="https://www.kaggle.com/zygmunt/goodbooks-10k/data">Goodreads Data</a>
                    ·
                    <a href="https://snap.stanford.edu/data/web-Amazon.html">Stanford Data</a>
                    ·
                    <a href="https://cs.nyu.edu/~abari/">NYU Advisor</a>
                </p>
            </div>          
            <div class="footer_col footer_col_middle">
                <p>
                    <a href="https://nickgreenquist.github.io/">Nick Greenquist</a>,
                    <a href="https://dorukkilitcioglu.github.io/">Doruk Kilitcioglu</a>,
                    <a href="https://panghalamit.github.io/">Amit Panghal</a>
                    &copy; 2018
                </p>
                <p>
                    Powered by: <a href="https://www.goodreads.com/">Goodreads</a>
                </p>
            </div>
            <div class="footer_col footer_col_right">
                <a class="footer_icon" href="https://github.com/dorukkilitcioglu/book-recommender-system" class="external git"><i class="fa fa-github fa-3x"></i></a>                 
            </div>
        </div>
    </div>
</footer>
