<html>
{% include 'components/head.html' %}
<body>
    {% include 'components/header.html' %}
    <article>
        <div class="container">
            <div class="start_page">
                <h1>Looking for a new book to read? You've come to the right place.</h1>
                <h4>For the best experience, head over to <a href="goodreads.com"> Goodreads.com</a> and create an account. Remember to set a <strong>username</strong>  for yourself</h4>
                <h4>Already have one? Perfect, let's get started.</h4>
                <form class="form" method="POST">
                    <button class="button has-spinner" type="submit" name='load' value="Load Books!">
                        Load Books!
                        <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
                    </button>
                </form>
                <p>Allow for up to 5 seconds to load all the data.</p>
            </div>
        </div>
    </article>
    {% include 'components/footer.html' %}
</body>
</html>

